@use "@/styles/components/global.scss" as *;

.landing-page {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);

    .card {
        // --bs-card-bg: rgb(149, 93, 57) !important;
    }

    .card-body {
        .btn-articles {
            // background-color: #5ba030;
            text-align: left;
        }
    }

    .form-control {
        background-color: #2e2b2c;
        color: white;

        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
    }



    .background-wrap {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            // backdrop-filter: blur(8px);
            filter: blur(2px);
        }
    }

    button:focus,
    input:focus,
    a:focus {
        outline: 3px solid #ffffff !important;
        outline-offset: 2px;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
        z-index: 10;
        position: relative;
    }

}