@use "./components/global.scss" as *;
@use "./components/buttons.scss" as *;

@use "./pages/landing" as *;
@use "./pages/game" as *;

button {
    font-size: 0.75rem!important;
}

i {
    margin-right: 0.2rem;
}

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}